* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

/* utility class */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px ;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.container-2 {
    max-width: 1100px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.bottom {
    padding: 5px 10px;
}

.input-near {
    display: inline-block;
    margin-right: 10px;
    text-align: 16px;
    font-size: 16px;
}

.display-inline {
    display: inline-block;
    width: 80%;
}

.line {
    border-top: 1px solid lightgray;
}
/* edn utility class */

/* leyout nav  */
.nav-back {
    width: 100%;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 10px;
}



nav .nav-option {
    line-height: 30px;
    color: #333;
    font-weight: 600;
}

nav .nav-right {
    text-align: right;

}

.nav-back .logo-nav {
    vertical-align: middle;
    height: 30px;
}


nav li {
    margin-left: 10px;
    display: inline-block;
    list-style: none;
}

nav .nav-start {
    background-color: blue;
    color: #fff;
    font-size: 10px;
    line-height: 14px;
}

section h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}


/* problema del pixxel in più contrlla dopo */

/* leyout header  */

header {
    background-color: lightskyblue;
    padding: 20px 0 60px;

}

.title-info {
    width: 35%;
    padding-top: 30px;
    padding-right: 20px;
  
}

.img-title {
    width:65%;
}

header h1 {
    font-size: 44px;
    font-weight: 800;
}

header p {
    color: #333;
}

header .header-bottom {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 20px;
    background-color: blue;
     color: #fff;
}

header .explein-bottom {
    font-size: 10px;
    margin-top: 5px;
}

header .row-down {
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;

}

.ancor-img {
    position: relative;
}

header .img-title img {
    position: absolute;
    top: 30px;
    left: 25px;
    width: 700px;

}



/* leyout main  */
.price, .partner, .info, .team, .faq {
    margin-top: 200px;
}



/* leyout price  */


.price .option-1, .price .option-2, .price .option-3 {
    width: calc(100%/3);
    padding-top: 20px;
    padding-bottom: 20px;
}

.price .option-4 {
    width: 100%;
    border: 1px solid black;
}

.price li {
    list-style: none;
    margin: 15px 0;
    vertical-align: top;
    line-height: 14px;
}

.price .option-1 {
    padding-right: 10px;
}

.price .option-2 {
    padding-left: 5px;
    padding-right: 5px;
}

.price .option-3 {
    padding-left: 10px;
}

.text-info-option-1, .text-info-option-2, .text-info-option-3 {
    height: 700px;
    border: 1px solid black;
 
}

.price .for {
    text-align: center;
    border-bottom: 1px solid black;
    padding: 5px 0;
}

.price .expleain-for {
    padding: 15px;
}

.price h5 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
}

.price .price-option {
    font-size: 20px;
    font-weight: bold;
}

.price .period-price {
    font-size: 10px; 
    color: rgb(170, 169, 169);
    margin-bottom: 10px;
}

.expleain-for img, .expleain-what img   {
    height: 10px;
    margin-right: 5px;
    vertical-align: top;
    line-height: 14px;
}

.price .bottom-price {
    margin-top: 6px;
    margin-bottom: 5px;
    text-align: center;
    padding: 5px 0;
    color: white;
    background-color: blue;

}

.expleain-for .bottom-price.special {
    margin-top: 44px;
}

.expleain-for .or-bottom-pirce {
    font-size: 10px;
    margin-bottom: 30px;
}

.price .line.small {
    width: 40px;
    margin-bottom: 30px;
}

.price h6 {
    font-size: 18px;
    font-weight: bold;
}


.expleain-what svg {
    fill: blue;
}

.price .option-4-text {
    padding: 20px;
}

.option-4 .bottom-price {
    width: 200px;
}


/* leyout partner  */

[class^="partner-"] {
    border: 1px solid black;
    height: 400px;
    width: 50%;
}



.partner-img img {
    width: 100%;
}

.partner-text {
    height: 426px;
}

.partner .center-text {
    width: 100%;
    height: 426px;
    position: relative;
}

.partner .center-to-text {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.partner-text h3 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;

}

.partner-text p {
    font-size: 16px;
    margin-bottom: 10px;

}

.partner-text a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    margin-bottom: 10px;

}

.partner-text .bottom-partner {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid black;
}





/* leyout info  */
[class^="info-"] {
    height: 450px;
    width: calc(100%/3);
}

.info .info-1, .info .info-4 {
    padding-right: 20px ;
    padding-top: 20px;
}

.info .info-2, .info .info-5 {
    padding: 20px 10px ;
}

.info .info-3, .info .info-6 {
    padding-left: 20px ;
    padding-top: 20px;
}

.img-info {
    text-align: center;
}


.info .img-info img {
    width: 70%;
}

.info .text-info h3 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;


}




/* leyout team  */
.left-brend, .middle-brend, .right-brend {
    width: calc(100%/3);
    height: calc(100vw/3);
}

.big-brend {
    width: 100%;
    height: 100%;
}

.brend-1, .brend-2, .brend-3, .brend-4, .brend-5, .brend-6, .brend-7, .brend-8 {
    width: 50%;
    height: 50%;
}



.bottom-enter {
    width: 100%;
    padding: 100px 0;
    border: 1px solid black;
}

.team .link {
    margin-bottom: 30px;
}

.img-center {
    width: 100%;
    height: 100%;
    position: relative;
}

.img-center svg {
    fill: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 40px;

}

.img-center svg path {

    fill: white;
}
   



.brend-1 {
    background-color: turquoise;
}

.brend-2 {
    background-color: brown;
}

.brend-3 {
    background-color: lightskyblue;
}

.brend-4 {
    background-color: tomato;
}

.brend-5 {
    background-color: red;
}

.brend-6 {
    background-color: lightsteelblue;
}

.brend-7 {
    background-color: blue;
}

.brend-8 {
    background-color: yellow;
}

.middle-brend {
    background-color: rgb(218, 218, 218);
}

.team .bottom-enter {
    background-color: lightsteelblue;
}

.center-text {
    width: 100%;
    height: 100%;
    position: relative;
}

.middle-brend .text-to-center {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.middle-brend .img-middle img {
    height: 40px;
    margin-bottom: 20px;
}

.middle-brend .line {
    width: 20px;
    border-top: 1px solid rgb(160, 160, 160);
    margin-bottom: 30px;
}

.middle-brend p {
    margin-bottom: 30px;

}

.bottom-enter h2 {
    color: purple;
    line-height: 40px;
    font-size: 40px;
}


.botton-team {
    line-height: 30px;
    background-color: white;
    padding: 10px 20px;

}

.botton-team  a {
    text-decoration: none;
    color: #333;

}
/* leyout FAQ  */
.question, .posibiliti  {
    line-height: 14px;
    margin: 20px 0;
}

.posibiliti.special {
    line-height: 28px;
}


/* leyout footer  */
footer {
    margin-top: 100px;
    padding: 100px 0;
    background-color: black;
}

.nav-footer {
    height: 500px;
    border: 1px solid white;

}

